name: build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          cache: "pnpm"
          node-version: 22
      - name: Install dependencies
        run: pnpm install
      - name: run Build
        run: pnpm build
